.btn-hyyzo {
  font-size: 17px;
  font-family: 'Poppins';
  color: white;
  background-color: green;
}
.clsBtn {
  margin-top: 4em;
  background-color: red;
}

/* ************************************** Login Component CSS *********************************************** */

.fs-login {
  width: 350px;
  height: 652px;
  background-color: white;
  box-shadow: 1px -1px 17px #888888;
}
.logo_hyzzo {
  width: 94px;
  height: 27px;
  margin: 14px 0px 0px 14px;
}
.headerCont {
  padding: 0px 0px 8px 0px;
  border-bottom: 2px solid #ff5900;
}
.formCont {
  width: 100%;
}
.loginHeading {
  font-family: 'Poppins';
  font-size: 18px;
  margin: 27px 0px 0px 27px;
}
.formCont form {
  margin: 16px 0px 0px 25px;
  width: 300px;
}
.loginFormInpCont {
  width: 300px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 10px 0px;
  font-family: 'Poppins';
}
.loginFormInpCont label {
  font-weight: 500;
  font-size: 12px;
}
.loginFormInpCont input {
  min-height: 36px;
  margin: 6px 0px 0px 0px;
  background: whitesmoke;
  border-radius: 4px;
  border: none;
  padding: 1px 0px 0px 16px;
}
.loginBtn {
  width: 300px;
  height: 36px;
  margin-top: 18px;
  background: linear-gradient(135deg, #f9ba63 0%, #ec5e3a 98.96%);
  border-radius: 4px;
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 12px;
  border: none;
}
.lineSepCont {
  display: flex;
  flex-direction: row;
  margin: 33px 0px 0px 27px;
}
.lineSepCont hr {
  width: 140px;
  height: 1px;
  background-color: #9e9e9e;
  border: none;
  margin: 9px 0px 0px 0px;
}
.lineSepCont p {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  color: #9e9e9e;
}
.optionsCont {
  margin: 30px 0px 0px 27px;
}
.otherLoginOpt {
  color: rgba(24, 31, 41, 0.85);
  background: white !important;
  border: 2px solid lightgrey;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 3px 0px 0px 0px;
}
.icons {
  width: 18px;
  height: 18px;
  position: relative;
  top: 4px;
  left: -4px;
}
.crtAccnt {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  padding: 6px 0px 0px 0px;
  background: #cc4b06;
}
.error-msg {
  font-weight: 500;
  font-size: 9px;
  font-family: 'Poppins';
  color: red;
}
.link {
  text-decoration: none;
}
.disabledBtn {
  background: rgba(217, 217, 217, 0.5);
  color: rgba(24, 31, 41, 0.5);
}

/* ************************************** Login Component CSS *********************************************** */
fs_tooltip {
  position: fixed;
  padding: 2px 5px;
  width: 200px;
  background-color: #153f93;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  font-size: 14px;
}