@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 324px;
  height: 204px;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

#popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_ {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 4px;
    padding: 20px;
}
.close-icon {
    position: absolute;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    right: 0px;
    top: 0px;
    padding: 0px;
    background: transparent;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
} 
.heading {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: rgb(42, 62, 82);
    margin-bottom: 16px;
}
.msg {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: rgb(103, 103, 103);
    text-align: center;
}
.close-btn {
    width: 200px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 18px;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 8px 0px;
    cursor: pointer;
    height: 40px;
    background: #2158D7;
    border-radius: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-img{
  width: 24px;
  margin-right:10px;
}