@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
html, body, textarea {
  color: #fff;
  background-color: #001; }

.mybutton, .tab, .cntbar {
  border-color: #334; }

.mybutton:hover, .tab:hover, .mywindow, .popup, .dialog {
  background-color: #112; }

.mybutton.enable, .tab.enable, .cntbar {
  background-color: #58f; }

#gray {
  background-color: #fff; }

.times:hover, .click:hover, textarea {
  background-color: #172847; }

.click {
  color: #58f; }
  .click:hover {
    background-color: #172847; }

.mywindow, .popup, .dialog {
  border-color: #334; }

.table {
  border: 0;
  padding: 5px; }
  .table td, .table th {
    border: 0;
    padding: 5px; }

textarea, .tabValue {
  border-color: #334; }

#avgstr .click:hover {
  background-color: #172847; }

select {
  color: #2a4881;
  border-color: #334;
  background: #001; }

input[type='button'], input[type='text'] {
  color: #fff;
  background: #001;
  border-color: #334; }
input:disabled {
  background: #223; }

html {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif; }

body, #leftbar {
  border: 0;
  padding-top: 30px;
  background-color: #001;
  border-color: #223;
  color: #fff; }

#scrambleDiv, #stats, #toolsDiv {
  box-shadow: none;
  border: 0; }

.mywindow, .popup, .dialog, #leftbar {
  box-shadow: none; }

table.sumtable {
  border-style: none; }

div.myscroll {
  border-top: 1px solid #111d34;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 30px; }

input:disabled {
  background: #2a4881; }

#lcd {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 100;
  font-size: 80%; }

#avgstr {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 0.1em; }

#logo {
  display: none; }

#leftbar {
  display: block;
  top: 0;
  margin-top: 0;
  height: auto; }
  #leftbar div {
    border-radius: 40px; }

.mybutton {
  border: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif; }
  .mybutton span {
    padding: 7px 2px; }
  .mybutton.enable span {
    color: #fff; }

#leftbar div.c1, #leftbar div.c2, #leftbar div.c3, #leftbar div.c4, #leftbar div.c5, #leftbar div.c6 {
  display: inline-block;
  left: auto;
  bottom: auto;
  right: auto;
  top: auto;
  position: static;
  width: auto;
  padding: 0 10px;
  color: #58f; }
  #leftbar div.c1.enable, #leftbar div.c2.enable, #leftbar div.c3.enable, #leftbar div.c4.enable, #leftbar div.c5.enable, #leftbar div.c6.enable {
    background-color: #58f; }
  #leftbar div.c1:hover, #leftbar div.c2:hover, #leftbar div.c3:hover, #leftbar div.c4:hover, #leftbar div.c5:hover, #leftbar div.c6:hover {
    background-color: #172847; }
  #leftbar div.c1 span, #leftbar div.c2 span, #leftbar div.c3 span, #leftbar div.c4 span, #leftbar div.c5 span, #leftbar div.c6 span {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 13px; }
  #leftbar div.c1 br, #leftbar div.c2 br, #leftbar div.c3 br, #leftbar div.c4 br, #leftbar div.c5 br, #leftbar div.c6 br {
    display: none; }
#leftbar div.c5, #leftbar div.c3, #leftbar div.c4 {
  display: none; }

#stats {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  top: 4em;
  margin-top: 30px;
  font-size: 16px;
  padding: 0 0 10px 10px;
  background-color: transparent;
  color: #2a4881;
  transition: 0.1s linear color;
  display: block; }
  #stats:hover {
    color: #7393d1;
    transition: 0.1s linear color; }
  #stats .sumtable {
    border-top: 1px solid #111d34;
    margin-top: 20px;
    padding-top: 25px; }
    #stats .sumtable tr:first-child th {
      padding-top: 15px; }
  #stats span.click {
    padding-right: 10px;
    text-align: left; }
    #stats span.click:hover {
      background-color: #172847; }
  #stats select, #stats input {
    padding: 3px 6px;
    color: #2a4881;
    border: 1px solid #2a4881;
    margin-right: 10px;
    font-size: 15px; }
  #stats input {
    font-weight: bold; }

#scrambleDiv {
  background-color: transparent; }
  #scrambleDiv .title {
    padding-top: 20px; }
  #scrambleDiv select {
    padding: 6px 12px;
    color: #2a4881;
    border: 1px solid #2a4881;
    margin-right: 10px;
    font-size: 15px; }
  #scrambleDiv nobr {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 15px;
    color: #2a4881; }
    #scrambleDiv nobr span {
      padding: 5px 10px; }

#scrambleTxt {
  font-size: 24px !important;
  font-family: "Source Code Pro", "Monaco", monospace;
  padding: 30px 0;
  color: #4c76c5; }

#toolsDiv {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  padding: 0 20px 20px 10px;
  border-radius: 10px 0 0;
  color: #375da7;
  display: table;
  background-color: transparent; }
  #toolsDiv br {
    display: none; }
  #toolsDiv div {
    display: table-cell;
    vertical-align: bottom;
    font-size: 15px;
    padding: 10px; }
    #toolsDiv div canvas {
      width: 200px !important;
      height: 150px !important; }
    #toolsDiv div div {
      font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
      font-size: 14px;
      line-height: 2;
      padding-bottom: 20px; }
      #toolsDiv div div br {
        display: block; }
  #toolsDiv select {
    font-size: 13px;
    background-color: transparent;
    padding: 6px 8px;
    border: 1px solid #2a4881; }

.popup {
  border: 0;
  padding: 10px 20px 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 2;
  font-size: 14px;
  color: transparent;
  text-align: left; }
  .popup [type='button'] {
    background-color: #c73737;
    color: #fff;
    margin-left: 10px;
    padding: 5px 9px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 50px; }
  .popup input[type='text'] {
    display: none; }
  .popup span:first-child {
    color: #fff; }
  .popup .click {
    background-color: #2a4881;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    display: auto; }

.dialog {
  border: none;
  opacity: 1;
  font-size: 14px;
  color: #4c76c5; }
  .dialog select, .dialog input {
    padding: 6px 12px;
    color: #2a4881;
    border: 1px solid #2a4881;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 14px;
    float: right; }
  .dialog .value {
    position: auto; }
  .dialog .tab {
    border: 0;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
    text-align: right;
    padding: 10px 20px; }
    .dialog .tab.enable {
      color: #fff; }
  .dialog table {
    position: auto; }
    .dialog table td {
      vertical-align: top; }
  .dialog .title {
    display: none; }
  .dialog .tabValue {
    border: none; }
    .dialog .tabValue li {
      padding: 10px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      .dialog .tabValue li:last-child {
        border-bottom: 0; }
  .dialog .button {
    text-align: left;
    margin-left: 120px;
    padding: 10px 0; }
    .dialog .button .buttonOK {
      padding: 10px 20px;
      margin: 0 10px 0 0;
      border: 0;
      background-color: #08f;
      color: #fff; }
      .dialog .button .buttonOK:last-child {
        background-color: #c73737; }

#gray {
  background-color: #000;
  opacity: 0.85 !important; }

/*# sourceMappingURL=styles.css.map */
